@font-face{
    /*aqui estamos agregando fuentes personalizadas atravs de @font-ace*/
    font-family: 'LibreBaskerville-Bold';/*le indicamos en nombre de la fuente que vamos a usar*/
    src:url(font/LibreBaskerville-Bold.ttf);/*la ruta de donde esta el archivo de fuente*/
}
@font-face{
    font-family: 'LibreBaskerville';
    src: url(font/LibreBaskerville-Italic.ttf);
}

body{
    font-family: "LibreBaskerville-Bold";
}
H1{
    font-family: "libreBaskerville";
}
.card-profile{
    max-width: 300px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}
.title{
    color:gray;
    font-size: 10px;
}
button{
    width: 100%;
    border: none;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    background-color: black;
    color: wheat;
}
a{
    text-decoration: none;
    color:black;
    font-size: 15px;
}
button:hover,
a:hover{
    opacity: 0.7;
}

.card-profile img{
    width: 100%;
    background-color: bisque;
/*la imagen que se uso no tien fonde transprente* por lo cual el cambio de fondo no se nota*/
}

/*TIPOS DE ALERTA*/
.alert{
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
}
.alert.warning{
    background-color: darkorange;
    color: aqua;
}
.alert .btn{
    float: right;
    margin-left: 15;
    color: antiquewhite;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
.alert .btn:hover{
   color:blueviolet
}

.alert.error{
    background-color: firebrick;
    color: azure;
}
.alert.success{
    background-color: chartreuse;
    color: black;
}


/*SCROLL
    La propiedad CSS scroll-behavior especifica el comportamiento del desplazamiento para un elemento con desplazamiento, cuando éste se produce debido a la navegación o a APIs CSSOM. Otros desplazamientos,
    p.ej. aquellos realizados por el usuario, no se ven afectados por esta propiedad.
    Cuando esta propiedad está especificada en el elemento raíz, se aplica al viewport.*/
    /*CUANDO HAY UN OVERFLOW SI O SI DEBE HAVER UN HEIGHT*/
.scroll{
    overflow: scroll; /*con HIDDEM la barra de desplazamiento*/
        /*  OVERFLOW-X:scroll;
            OVERFLOW-Y:HIDDEN;
        se debe ocultar una para visualizar otro
            */
    height: 200px; /*para el lateral*/
   /*width: 100px;*/
}
::-webkit-scrollbar{/*tamaño*/
    width: 12px;
}
::-webkit-scrollbar-track{/*para agregarle un color color*/
    background-color: orange;
}
.scroll::-webkit-scrollbar-thumb{ /*le coloca un color al scroll*/
    background-color: rgb(207, 247, 26);
    border-radius: 20px;
    border: 2px solid rgb(128, 0, 53);
}

/*TIPOS DE LINEA
    trabaja sobre la linea que es una capa antes del borde
*/
p{
    outline-color: darkcyan;
    border: 2px solid;
}
p.dotted{
    outline-width: 6px;/*tamaño o grosor*/
    outline-style: dotted;
    border: 2px solid;
}
p.dashed{
    outline-width: 6px;
    outline-style: dashed;
    outline-color: blueviolet;
}
p.solid{
    outline-width:6px;
    outline-style: solid;
}
p.double{
    outline-width: 6px;
    outline-style: double;
    outline-color:deeppink;
}
p.groove{
    outline-width: 6px;
    outline-style: groove;
    outline-color:khaki;
}
p.ridge{
    outline-width: 6px;
    outline-style: ridge;
    outline-color:paleturquoise;
}
p.inset{
    outline-width: 6px;
    outline-style: inset;
    outline-color:lightsalmon;
}
p.outset{
    outline-width: 6px;
    outline-style:outset;
    outline-color: cornflowerblue;
}

.conic{
    background-image: conic-gradient(red, yellow, green, blue, black);
        /*propiedades to right bottom - los colores los va colocando en degrade
         180deg (grados) radial, conic, lineal
        */
       /* background-repeat: repeat-y; la forma en que va a ser distibuida
            no repeat repeat-x repeat-y*/
        min-width: 50%;
        height: 100vh;
}