*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 50px;
    background-color: black;
}

header nav ul li{
    list-style-type: none;/**se quitan las viñetas*/
    float:left;
}
header nav ul li a{
    padding: 15px;
    display: inline-block;
    text-decoration: none;/**se quita el subrayado de enlace*/
    color: aliceblue; /*se cambia el color azul que tienen por defecto los enlaces*/
}
header nav ul li a:hover{
    background-color: orange;
    color: green;
}

main{
    max-width: 100%;
    height: 500px;
    background-image: url(./imagen1.jpg);/*se agrega una imagen como fondo*/
    background-size:cover; /*que cubra todo*/
    background-repeat: no-repeat; /*que no se repita, si fuese el caso de que laimagen sea mas chica*/
}
main .text{
    text-align: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    font-size: 2em;
}
/*
Método position absolute

Esta técnica permite establecer la ubicación del texto en cualquier parte de su contenedor. 
En nuestro caso, como deseamos centrarlo, 
    - primero establecemos el eje superior izquierdo de nuestro texto
    en el centro de tu contenedor con las propiedades top y left al 50%
    y finalmente lo desplazamos con la propiedad transform un 50% a la izquierda
    y hacia arriba para que acabe centrado respecto a su contenedor.

Al establecer la posición absoluta, estamos eliminando el elemento del flujo de la página,
por lo que es importante tener en cuenta de que mal usada, esta técnica puede provocar
la sobreposición de elementos de manera no deseada.
*/

footer{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

