*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%; /*ancho*/
    height: 80px; /*alto*/
    background-color: #eeb35b;
}
#menu{
    margin-top: 15px;
}
#menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0%;
    position: relative;
    float: left;
}
#menu ul a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    line-height: 25px;
}
#menu ul li{
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
}
menu ul li a:hover{
    background-color: black;
    color: white;
}
#menu ul ul{
    display: none;
    position: absolute;
    background-color: black;
}
#menu ul ul li{
    float: none;
    width: 200px;
}
#menu ul ul li a{
    color: white;
}
#menu ul li:hover > ul{
    display: block;
}
#menu ul ul li a:hover{
    color: cadetblue;
}
main{
    background-color: aquamarine;
    clear: both;
    width: 100%;
}

/*FORMULARIO*/
form {
    display: none;/* Estilo para ocultar el formulario inicialmente */
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
}


label {/* Estilos para etiquetas y campos de entrada */
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button { /*botones*/
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}

/*pie de pagina*/
footer{
    clear: both;
    color: black;
    text-align: center;
    width: 100%;
    padding: 40px;
    background-color: #8cee54;
}