/*CLASS FORM*/
.form{
    margin: 20px;
    padding: 20px;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
}
::placeholder{
    color: red;
    opacity: 0.5;
}
.form .input{
    padding: 10px;
    position: relative;
}
.form input{
    outline: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
}
.form input:focus{ /*FOCUS -> hace referencia a lo que esta dentro de cada input
        sobre o dentro del formulario*/
    border: none;
    border-bottom: 2px dotted red;
    background-color: black;
    color: white;
    border-radius: 10px;
}
/*solo se vilualiza si esta required*/
.form input:valid{
    color: green;
}
.form input:invalid{
    color: red;
}
/*cambiar propiedad del campo requerido*/
.form input:required{
    border: 1px solid red;
}
.from .submit button{
    width: 100%;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.fa-icons{
    position: absolute;
    left: 15px;
    bottom: 11px;
    font-size: 14px;
}



/*CLASS=FORMULARIO*/
.formulario{
    margin: 15px;
    padding: 15px;
    width: 350px;
    border: 4px solid rgb(99, 48, 112);
    border-radius: 12px;
    background-color:lightsalmon;
}
.formulario ::placeholder{
    color:fuchsia;
    opacity: 0.5;
}
.formulario input{
    outline: none;
    width: 100%;
    /*padding:10px;*/
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.formulario .input{
    padding: 12px;
    position: relative; /*nos ayuda a que no salga del contenedor
        y poder posicionar mejor los iconos, señalizados con fa-icons*/
}
.formulario input:focus{
    border: none;
    border-bottom: 4px dotted rgb(59, 247, 237);
    background-color:rgb(221, 113, 221);
    color: black;
    border-radius: 12px;
}
.formulario input:valid{
    color: green;
}
.formulario input:invalid{
    color: red;
}
.formulario input:required{
    border: 4px solid red;
}
.formulario .submit button{
    width: 100%;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}
.fa-icon{
    position: absolute;
    left: 10px;
    bottom: 14px;
    font-size: 15px;
}


/*De EJEMPLO GOOGLE*/
.form1 {
    background-color:coral;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
