*{
    margin: 0px;
    padding: 0px;
}

.grid{
    display: grid;

    /*DEFINE EL TAMAÑO DE LAS COLUMNAS*/
    /* El tamaño se ajusta al contenido - item*/
    grid-template-columns: repeat(4, 1fr);
    /*fr - fraccion restante, va a ver cuanto le queda eindicar cuanto lo divide
        ejemplo: 25% 1fr 2fr
    */
    
    /* grid-template-columns: 25% 1fr 1fr 1fr 1fr 1fr 1fr;*/
        /*repeat(numero de veces que se repita, 
            tamaño - px fr)
        */

    /*DEFINE EL TAMAÑO DE LAS FILAS*/
    grid-template-rows: 50% 30%;
    

    /* column-gap: 30px espacio entre celdas - vertical;
        row-gap: 10px; espacio entre celdas - horizontal
        gap : row-gap column-gap  - es una combinacion "un atajo"
        gap: 10px - se aplica en general sino se expecifica row,column
    */
    gap:10px 30px;

    /* 
    ALINEA LOS ELEMENTOS EN HORIZONTAL*/
        /* justify-items: end;*/
    /*ALINEA LOS ELEMENTOS EN VERTICAL*/
        /*align-items: stretch;*/

    /*ALINEA EL CONTENIDO EN HORIZONTAL*/
        /*justify-content: start;*/
    /*Alinea el contenido en vertical*/
        /* align-content: space-between;*/
        /* start end center stretch */
        /* start end center stretch space-between space-around*/
/*lo que se alinea es el area, pero el contenido no*/
    /*ATAJOS DE ALINEACION*/
        /* place-items: [align-items] [justify-items];
        place-content: [align-content] [justify-content];*/
    place-items : center;
}
.grid .item{
    background-color: yellow;
    border: 2px solid #000;
    /* start end center stretch 
    justify-self: ;
    align-self: ;
    */
    /*ATAJOS DE ALINEACION
        place-self: [align-self] [justify-self];

    */
}
.item-1{
  /*  grid-column-start: 1;
    grid-column-end: span 4;*/
    grid-column: 1 / span 4;

}
.item-4{
   /* grid-row-start: 1;
    grid-row-end: span 2;*/
    grid-row: 1 / span 2;
}

.grid-content{
    background-color: burlywood;
    display: grid;
    gap: 10px;
    
    grid-template-areas: 'header header header'
                          'menu main aside'
                          'menu footer .'; /*el punto indica donde termina, agregaria un espacio vacio*/
}
.grid-content .item{
    text-align: center;
    background-color: greenyellow;
    font-size: 30px;
}
.grid-content .item-header{
    grid-area: header;
}
.grid-content .item-menu{
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-content .item-main{
    grid-area: main;
}
.grid-content .item-aside{
    grid-area: aside;
}
.grid-content .item-footer{
    grid-area: footer;
}
.item-menu .item{
    background-color: brown;
    color:aliceblue;
}

.imagen{
    margin: 5px;
    width: 80%;
}

 