.grid{
    margin: 10%;
    display: grid; /*se marca LAYOUT, para determinar la posicion y tamaño*/
    /*grid-template-columns: auto auto auto auto;*/
    /*  grid-template-columns: repeat(4, 1fr) aqui hay 4 columnas con fr*/
    /*  grid-template-columns: 25% repeat(2, 1fr 2fr) */
    grid-template-columns: repeat(4, minmax(200px,1fr));
        /*repetir 4 con un minimo y maximo de 200px, en 1fraccionRestante*/
        /*tambien puede ser dentro de las filas*/
    grid-template-rows: 50% 50%;
    gap: 15px 30px;
    /*justify-items: end;
    align-items: stretch; 

    justify-content: start;
    align-content: space-between;*/
    place-items: center;

}
.grid .item{
    background-color: burlywood;
    border: 2px solid darkred;
    
}
.item-a{
    grid-column-start: 1;
    grid-column-end: 3;
}