.gird-content{
    
    background-color: whitesmoke;
    display: grid;
    gap: 10px;
}
.grid-content .item{
    text-align: center;
    background-color:brown;
    font-size: 30px;
}
.grid-content .item-header{
    grid-area: header;
}
.grid-content .item-menu{
    grid-area: menu;
}
.grid-content .item-main{
    grid-area: main;
}
.grid-content .item-aside{
    grid-area: aside;
}
.grid-content .item-footer{
    grid-area: footer;
}