*{
    margin: 0px;
    padding: 0px;
}


/*SEUDO CLASES : */
p:hover{
    color: red !important; /*se salta la validacion*/
}
p:first-child{ /*hace referencia al primer elemento*/
    color:blue;
}

/*FOCUS: es para cuando se selecciona el INPUT
    cuando se selecciona la caja de texto
    APLICA TODO SOLO CUANDO ESTAS DENTRO DE LA CAJ
*/
input:focus{
    background-color: black;
    color: aliceblue;
}
input:invalid{/*elementos de valor no valido*/
    color: red;
}
p:last-child{/*el ultimo elemneto*/
    color: green;
}
p:nth-child(3){ /*nth-child, se seleccion el elemnto () que se le indique entre los parentesis
    siempre y cuando este en la lista de los elemntos*/
    background-color:darkseagreen;
}
/*ENLLACES*/
a:link{ /*enlace no visitado*/
    color: #FF0000;
}
a:visited{ /*enlace visitado*/
    color: #00FF00;
}
a:hover{ /*cuando se posiciona con el mouse*/
    color: #FF00FF;
}
a:active{ /*cuando se cliquea/se preciona sobre el enlace*/
    color: #0000FF;
}

/*PSEUDO ELEMENTOS :: */
p::first-line{ /*la primer linea del elemnto que se le indico*/
    font-size: 30px;
}
p::first-letter{ /*la primer letra de cada parafo*/
    color: orangered;
}
p::after{ /*despues*/
    content: "a ->";
}
p::before{ /*antes*/
    content: "c:->";
}


.round{
    /*position: absolute;
    width: 262px;
    height: 76px;
    left: 226px;
    top: 8px;*/
    min-height: 262px;
    min-height: 76px;
    background: #212828;
    border-radius: 20px;
    box-shadow: inset 20px 4px 4px rgba(230, 25, 25, 0.96);
}


div.background{
    background: url(./img1.jpg);
    border: 3px solid yellow;
    /*opacity: 0.6;*/
    position: relative;
    z-index: 1; /*SOBREPOSICIONAMIENTO DE LAS CAPAS
        le indico cual va primero y cual va segunda*/
}
div.transbox{
    margin: 30px;
    background-color: rgba(255,255,255,0.6);
    /*opacity: 0.6;*/
    z-index: 2;
    position: relative;
}
div.transbox small{
    margin:5px;
    font-weight: bold;
    /*color: black;*/
    color: white;
}


/*div.background::before{
    content: '';
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0,6);
}*/
div.background::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0,6);
}

.fixed{
    position: fixed;
    background-color: black;
    top: 0px;
    z-index: 999;
}

.divp{
    position: relative; /*la posicion que tiene el elemento*/
    min-width: 300px;
    min-height: 400px;
    background-color: red;
}
.divp .div{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
}
.divp .div.a{
    background-color:cornflowerblue;
    z-index: 3;
    width: 80px;
}
.divp .div.b{
    left: 50px;
    background-color: coral;
    z-index: 3;
    width: 100px;
}
.divp .div.c{
    left: 100px;
    background-color: greenyellow;
    z-index: 4;
    width: 100px;
}

.posicion{
    position: relative;
    width: 500px;
    height: 200px;
    border: 2px dashed black;
}

.posicion .dip{
    position: absolute;
    font-size: 30px;
    width: 120px;
    height: 50px;
}

.posicion .dip.d{
    background-color: blue;
    z-index: 1;
    width: 100px;
}
