/*
font-family: 'Assistant', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Work Sans', sans-serif;
*/

*{
   margin: 0px; 
   padding: 0px;
   box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}
header{
    width: 100%;
    height: 200px;
    background-color:#e5894e;
    margin: 0px;
}
header img{
    max-width: 200px;
    float: left;
}
header nav{
    font-family: 'Assistant';
}
.menuheader ul{
    list-style-type: none;
}
.menuheader li{
    float: left;
    margin-top: 70px;
}
.menuheader li a{
    text-decoration: none;
    padding: 30px;
    display: inline-block;
    color: #42252a;
    font-weight: bold;
    font-size: 20px;
}
.menuheader li a:hover{/*seudoclass*/
    color: #fcffff;
}

main{
    width: 70%;
    clear: both;
    background-color: #f4c8ac;
}
section{
    padding: 20px; 
}
section .card-product{
    max-width: 30%;
    border: 5px solid #42252a;
    border-radius: 20px;
    background-color:#fcffff;
    padding-top: 10px;
    /*float: left;*/

}
section .card-product img{
    max-width: 100%; /*ajusta al tamañp que se le dio con el max-width en .sectiion .card-product*/
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid #e5894e;
}
section .card-product .description{
    text-align: center;
    line-height: 200%;
    letter-spacing: 5px;
    font-family: 'Poppins';
    color: #42252a;
    font-weight: bold;
}
section .card-product .precio{
    text-align: right;
    font-size: 14px;
    color: #fb0365;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px; /*para que no quede pegado al precio*/
}
section .card-product-footer{
    width: 100%;
    background-color: #e5894e;
    height: 30px;
    border-radius: 0px 0px 15px 15px;
    /*padding: 3px;*/
}
section .card-product-footer button{
    width: 50%;
    float: left;
    height: 30px;
    border-radius: 0px 0px 15px 15px;
    border: none;
    background-color: #e5894e;
    /*color:black;*/
    cursor:pointer;

}