/*
font-family: 'Assistant', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Work Sans', sans-serif;
*/

*{
   margin: 0px; 
   padding: 0px;
   box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}
header{
    width: 100%;
    height: 200px;
    background-color:plum;
    margin: 0px;
}
header img{
    max-width: 200px;
    float: left;
}
header nav{
    font-family: 'Assistant';
}
