/*
font-family: 'Assistant', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Work Sans', sans-serif;
*/

*{
   margin: 0px; 
   padding: 0px;
   box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}
header{
    width: 100%;
    height: 200px;
    background-color:#e5894e;
    margin: 0px;
}
header img{
    max-width: 200px;
    float: left;
}
header nav{
    font-family: 'Assistant';
}
.menuheader ul{
    list-style-type: none;
}
.menuheader li{
    float: left;
    margin-top: 70px;
}
.menuheader li a{
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: #42252a;
    font-weight: bold;
    font-size: 15px;
}
.menuheader li a:hover{
    color: #fcffff;
}